#drop-down {
    position: relative;

    .dropdown-btn {
        width: 100%;
        cursor: pointer;
        height: 40px;
        padding: 0 20px;
        display: flex;
        align-items: center;
        background: #FFFFFF;
        border: 1px solid rgba($color: #213F7D, $alpha: 0.2);
        border-radius: 8px;

        span {
            flex-grow: 1;
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: rgba($color: #545F7D, $alpha: 1.0);
        }

        a {
            margin-top: -4px;

            svg {
                width: 14px;
                height: 14px;
            }
        }

    }

    .dropdown-list {
        padding: 20px;
        max-height: 200px;
        overflow-y: auto;
        position: absolute;
        top: calc(100% + 10px);
        width: 100%;
        background: #FFFFFF;
        border: 1px solid rgba(84, 95, 125, 0.04);
        box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
        border-radius: 4px;

        .dropdown-item {
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 20px;
            color: #545F7D;
        }

        .dropdown-item:last-child {
            margin-bottom: 0;
        }
    }
}