#users-table {
    .org {
        cursor: pointer;
        display: inline-block;
        font-weight: normal;
        text-overflow: ellipsis;
        width: 14ch;
        overflow: hidden;
        white-space: nowrap;
    }

    .username {
        display: inline-block;
        font-weight: normal;
        text-overflow: ellipsis;
        width: 11ch;
        overflow: hidden;
        white-space: nowrap;
    }
}

@media screen and (max-width: 768px) {
    #users-table {
        overflow-x: auto;

        #table-wrapper {
            width: fit-content;
        }
    }
}