#user {
    padding: 60px;

    .back {
        display: flex;
        align-items: center;
        margin-bottom: 32px;

        svg {
            width: 30px;
            height: 30px;
            margin-right: 13px;
        }

        h6 {
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #545F7D;
            margin-bottom: 0;
        }
    }

    h3 {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #213F7D;
        margin-bottom: 40px;
    }

    .buttons {
        display: flex;
        margin-bottom: 40px;
        align-items: center;

        .btn {
            width: 170px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            margin-left: 20px;
        }

        .btn-outline-red {
            color: #E4033B;
            border: 1px solid #E4033B;
        }

        .btn-outline-green {
            color: #39CDCC;
            border: 1px solid #39CDCC;
        }
    }
}